body {
    margin: 0;
    background-color: #2c2f33;
}

canvas {
    background-color: #ffff;
    padding: 0;
    margin: auto;
    display: block;
    border: 10px solid #ffff;
}

img { 
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    color: #ffff;
    padding-top: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
}

h3 {
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    color: #ffff;
}

a {
    text-decoration: none;
    color: inherit
}

* {
    touch-action: none;
    image-rendering: pixelated;

    font-family: bitcount-grid-single-square,sans-serif;
    font-weight: 500;
    font-style: normal;
}

#titleText {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 50px;
    width: 575px;
}

#heartHUD{
    padding-top: 20px;
    display: none;
    position: absolute;
    user-select: none;
}

#waveText {
    display: none;
    position: absolute;
    transform: translate(-50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #23272a;
    left: 50%;
    color: #23272a; 
    padding: 8px; 
    font-size: 50px; 
    font-weight: 900;
    user-select: none
}

#scoreText {
    display: none;
    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    color: #23272a; 
    padding: 8px; 
    font-size: 25px; 
    font-weight: 400;
    user-select: none
}

#statText {
    display: none;
    position: absolute; 
    color: #ffff; 
    padding: 8px; 
    font-size: 24px; 
    font-weight: 300;
    user-select: none;
    top: 180px;
    transform: translate(20px);
}

#startGamePopup {
    display: block;
    position: absolute;
    color:#ffff;
    background-color: #23272a;
    text-align: center;
}

#gameOverPopup {
    display: none;
    position: absolute;
    color: #ffff;
    background-color: #23272a;
    text-align: center;
}

#gameOverScore {
    font-size: 35px;
    margin: 20px;
}

#enemiesSlainScore {
    font-size: 35px;
    margin: 20px;
}

#startButtonEl {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #fe5c6f;
    border: none;
    color: #ffff;
    padding: 16px 32px;
    cursor: pointer;
}

#classRifleButtonEl {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #effedd;
    border: none;
    color: #23272a;
    padding: 16px 32px;
    border: 5px solid #59ce7c;
    cursor: pointer;
}

#classSoymilkButtonEl {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #effedd;
    border: none;
    color: #23272a;
    padding: 16px 38px;
    cursor: pointer;
}

#classSniperButtonEl {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #effedd;
    border: none;
    color: #23272a;
    padding: 16px 45px;
    cursor: pointer;
}

#buttonEl {
    font-size: 20px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #fe5c6f;
    border: none;
    color: #ffff;
    padding: 16px 32px;
    cursor: pointer;
}

#copybuttonEl {
    font-size: 18px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #59ce7c;
    border: none;
    color: #ffff;
    padding: 12px 24px;
    cursor: pointer;
}
